{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About the Arbitrage Calculator</h1>

    <p>WinningWagers searches the top sportsbooks to find possible arbitrage betting opportunites. 
        If two sportsbooks disagree on the outcome of the game, it is possible that you can place a sure-bet.
        Our serivce allows you to easily search for arbitrage opportunites. All you have to do is indicate the 
        league you want to bet on, and put in how much you want to wager. The algorithm then finds games with
        sure bet opportunites and calculates how much you need to wager on each team, and at which sportsbook
        to do it.  </p>

{% endblock %}