{% extends "bootstrap_5_layout.html" %}
{% set active_page = "arbitrage_form" %}

{% block content %}

    <h2>Arbitrage Form</h2>

    <p>Request Arbitrage Data...</p>

    <form action="/arbitrage/dashboard" method="POST">

    
        <label>Sports League:</label>
        <select name= "sports_league">
            <option value="NFL">NFL</option>
        </select>
        <br>
        <label>Week:</label>
        <select name= "week">
            <option value="Week 15">Week 15</option>
            <option value="Week 16">Week 16</option>
            <option value="Week 17">Week 17</option>
            <option value="Week 18">Week 18</option>
            <option value="Wild Card">Wild Card</option>
            <option value="Divisional">Divisional Round</option>
            <option value="Conference Champtionships">Conference Champtionships</option>
            <option value="Super Bowl">Super Bowl</option>
        </select>


        <label>Desired Winnings ($):</label>
        <input type="text" name="desired_winnings" placeholder="100" value="100">
        <br>



        <button class="btn btn-success">Submit</button>
    </form>

    <script type="text/javascript">



    </script>


{% endblock %}